.container {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
  background-size: contain;
}

.logo {
  width: 20%;
  padding-top: 3rem;
}

.disclaimer {
  max-width: 60%;
  margin: 4rem auto 5rem;
  font-size: 1.5rem;
}

@media (max-width: 730px) {
  .logo {
    width: 30%;
  }

  .disclaimer {
    max-width: 90%;
  }
}
